<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
  <div class="flex flex-row items-center w-full px-6 py-1" style="background: var(--gradient-header-background)">
    <!-- Left placeholder (keeps center alignment accurate) -->
    <div class="w-1/3"></div>

    <!-- Center title -->
    <div class="w-1/3 flex justify-center">
      <h1 class="gradient-title text-center">Digital Energy Vision</h1>
    </div>

    
    <!-- Right section -->
    <div class="w-1/3 flex justify-end items-center space-x-4">

      <!-- Example: Profile -->
      <div class="flex items-center space-x-2 cursor-pointer">
        <user [showAvatar]="true"></user>
      </div>
    </div>
  </div>

  <!-- Header -->
  <div
    class="relative flex flex-0 items-center w-full h-14 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden bg-primary-800 text-white"
    style="background: var(--gradient-header-background)">
    <!-- Horizontal navigation -->
    <fuse-horizontal-navigation [name]="'mainNavigation'" [navigation]="navigation"
      class="flex-auto"></fuse-horizontal-navigation>



    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
      <div id="night_mode" (click)="toggleTheme()">
        <span [class.sun]="!isDark" [class.moon]="isDark">
          {{ isDark ? "🌙" : "☀️" }}
        </span>
      </div>
      <p id="time" class="footer">
        {{ currentDateTime | date : "fullDate" }} -
        {{ currentDateTime | date : "mediumTime" }}
      </p>
    </div>
  </div>

  <!-- Content -->

  <div class="flex flex-col flex-auto">
    <router-outlet *ngIf="true"></router-outlet>
  </div>

  <!-- Footer -->
  <a class="relative flex flex-row items-center justify-center w-full h-6 px-4 md:px-6 z-49 border-t bg-primary-800 dark:bg-transparent print:hidden"
    href="#" target="_blank" style="background: var(--gradient-footer-background)">
    <!-- sourav code -->
    <span class="font-small text-secondary footer-text">
      All rights reserved | Design & Developed by IAD - A&D, SAIL-ISP Burnpur
    </span>

    <!-- sourav code -->

    <!-- <small class="powered-by">POWERED BY SISX (Softmeets Info Solutions)</small> -->
  </a>
</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->