<!-- <p>
  cob10 works!
</p> -->
<!-- <div class="container">
  <div class="flex">
      <div class="box">
        <div class="header-row">
          <h2 class="overview_header">
            <span
              *ngFor="let letter of splitLetters(cob10); let i = index"
              [style.animation-delay]="i * 0.2 + 's'"
            >
              {{ letter }}
            </span>
          </h2>
      
          <button class="back-btn" mat-dialog-close>
            Back to Overview
          </button>
        </div>
      </div>
  </div>
</div> -->

  <!-- Header -->

  <div class="modal-header">
    <h2 class="overview_header">
      <span
        *ngFor="let letter of splitLetters(cob10); let i = index"
        [style.animation-delay]="i * 0.2 + 's'"
      >
        {{ letter }}
      </span>
    </h2>
  
    <button mat-icon-button class="close-btn" [matTooltip]="'Close'" mat-dialog-close>
      <mat-icon class="text-white">close</mat-icon>
    </button>
  </div>
  
  <div class="modal-body">

    <!-- If data exists -->
  
      <!-- Chart 1 -->
      <span class="chart-header" *ngIf="responseData.length>0 && hasMake">C.O. GAS MAKE [Th. Nm³/hr]</span>
      <div id="gasmakeChart" style="width: 100%; height: 300px;" class="mt-10" ></div>
  
      <!-- Chart 2 -->
      <span class="chart-header" *ngIf="responseData.length>0 && hasPressure">C.O. GAS PRESSURE [mmwc]</span>
      <div id="pressureChart" style="width: 100%; height: 300px;" class="mt-10" ></div>
  
  
    <!-- If no data -->
      <div class="no-data" *ngIf="responseData.length===0 && !hasMake && !hasPressure">
        <p class="no-data">No data available<span class="dots"></span></p>
      </div>
  
  </div>
  
  
  
  




