<div class="mainDiv">
  <div class="radio-buttons-container"  *ngIf="!hideViewModeSwitch">
    <div class="mode-switch">
      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="gasholder"
          [(ngModel)]="viewMode"
        />
        <span class="custom-radio"></span>
        Dashboard
      </label>
      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="report"
          [(ngModel)]="viewMode"
        />
        <span class="custom-radio"></span>
        Report
      </label>

      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="trends"
          [(ngModel)]="viewMode"
          (change)="onViewModeChange()"
        />
        <span class="custom-radio"></span>
        Trends
      </label>
    </div>
  </div>


  <!-- GAS HOLDER VIEW -->
  <div *ngIf="viewMode === 'gasholder'">
    <div class="cylinder-with-header layout-container pb-10">
      <!-- METRIC CHART BOXES -->
      <!-- <div class="metric-container"> -->

        <div class="detail-view">
          <div class="industrial-holder">
            <!-- Roof with vent -->
            <div class="holder-roof">
              <div class="roof-vent"></div>
            </div>
    
            <div class="holder-body">
              <!-- Structural overlay -->
              <div class="holder-ribs"></div>

              <!-- VALUE INSIDE -->
              <div class="gas-value">
                <p>
                  <strong
                    >{{ gasholder_res.GASHOLDERLVL | number : "1.2-2" }} kg
                  / {{ maxGasLevel }} kg</strong
                  >
                </p>
              </div>
    
              <div
                class="gas-fill"
                [ngClass]="gasLevelClass"
                [style.height.%]="gasFillPercent"
              >
                <!-- Piston top instead of liquid wave -->
                <div class="piston-edge"></div>
                <div class="gas-shine"></div>
              </div>
            </div>
    
            <div class="holder-base"></div>
          </div>
    
          <!-- HEADER BELOW -->
          <h2 class="area_header gas-header">
            <span
              *ngFor="let letter of splitLetters(gaslevel); let i = index"
              [style.animation-delay]="i * 0.2 + 's'"
            >
              {{ letter }}
            </span>
          </h2>
        </div>

              <!-- RIGHT : METRICS (2 ROWS) -->
      <div class="metrics-wrapper">
  
        <!-- ROW 1 -->
        <div class="metric-row">
          <!-- Pressure -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(ghp); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="pressureGauge.series"
            [chart]="pressureGauge.chart"
            [labels]="pressureGauge.labels"
            [plotOptions]="pressureGauge.plotOptions"
            [fill]="pressureGauge.fill"
            [stroke]="pressureGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
                {{ gasholder_res.GASHOLDERPRES | number : "1.2-2" }}
            </div>
          </div>
  
          <!-- Temperature -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(gt); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="tempGauge.series"
            [chart]="tempGauge.chart"
            [labels]="tempGauge.labels"
            [plotOptions]="tempGauge.plotOptions"
            [fill]="tempGauge.fill"
            [stroke]="tempGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
                {{ gasholder_res.GASHOLDERTEMP | number : "1.2-2" }}
                <span class="metric-unit">°C</span>
            </div>
          </div>
  
          <!-- Flow -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(gfm); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="flowGauge.series"
            [chart]="flowGauge.chart"
            [labels]="flowGauge.labels"
            [plotOptions]="flowGauge.plotOptions"
            [fill]="flowGauge.fill"
            [stroke]="flowGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
                {{ gasholder_res.GAS_FLOW_mills | number : "1.2-2" }}
            </div>
          </div>
        </div>



        <!-- ROW 2 (SAME CHARTS) -->
        <div class="metric-row">
          <!-- Pressure -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(egpbs); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="egpbsGauge.series"
            [chart]="egpbsGauge.chart"
            [labels]="egpbsGauge.labels"
            [plotOptions]="egpbsGauge.plotOptions"
            [fill]="egpbsGauge.fill"
            [stroke]="egpbsGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
                {{ gasholder_res.EXPORTEDGAS | number : "1.2-2" }}
            </div>
          </div>
  
          <!-- Temperature -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(tldgm); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="tldgmGauge.series"
            [chart]="tldgmGauge.chart"
            [labels]="tldgmGauge.labels"
            [plotOptions]="tldgmGauge.plotOptions"
            [fill]="tldgmGauge.fill"
            [stroke]="tldgmGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
                {{ gasholder_res.Mills_totaliser | number : "1.2-2" }}
            </div>
          </div>
  
          <!-- Flow -->
          <div class="metric-box">
            <h2 class="area_header">
              <span
                *ngFor="let letter of splitLetters(tldgpbs); let i = index"
                [style.animation-delay]="i * 0.2 + 's'"
              >
                {{ letter }}
              </span>
            </h2>
            <apx-chart
            [series]="tldgPbsGauge.series"
            [chart]="tldgPbsGauge.chart"
            [labels]="tldgPbsGauge.labels"
            [plotOptions]="tldgPbsGauge.plotOptions"
            [fill]="tldgPbsGauge.fill"
            [stroke]="tldgPbsGauge.stroke"
          >
          </apx-chart>
            <div class="meter-value">
              {{ pbsMinusMills | number : "1.2-2" }}
            </div>
          </div>
        </div>
      </div>

        
      <!-- </div> -->

    </div>
  </div>

  <div *ngIf="viewMode === 'report'">
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
      <!-- report-wrapper -->

      <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden h-full report-bg">
          <div
            class="flex-auto w-full overflow-y-auto border-l h-full report-content"
          >
            <div class="relative p-10 w-full border-l h-full">
              <!-- <div
                *ngIf="loading"
                class="absolute inset-0 z-50 flex items-center justify-center mt-[-150px]"
              >
                <mat-spinner color="primary" [diameter]="100"></mat-spinner>
              </div> -->
              <div class="table-users w-full">
                <table
                  class="w-full border bg-card mt-2"
                  cellspacing="0"
                  *ngIf="reportData.length > 0 "
                >
                <!-- && !loading -->
                  <thead class="sticky top-10 z-10 tableTextDesign">
                    <!-- HEADER ROW 1 -->
                    <tr>
                      <th rowspan="2" class="text-center p-3">Sl. No.</th>
                      <th rowspan="2" class="text-center p-3">Date</th>
                      <th rowspan="2" class="text-center p-3">Time</th>

                      <th rowspan="2" class="text-center p-3">
                        Gas Holder Level
                      </th>
                      <th rowspan="2" class="text-center p-3">
                        Gas Holder Pressure
                      </th>
                      <th rowspan="2" class="text-center p-3">
                        Gas Holder Temperature
                      </th>

                      <th rowspan="2" class="text-center p-3">
                        Exported Gas PBS
                      </th>
                      <th rowspan="2" class="text-center p-3">
                        Exported Gas Mills
                      </th>
                      <th class="text-center p-3" rowspan="2">
                        Totalizer LD Gas (Mills + PBS)
                      </th>
                      <th class="text-center p-3" rowspan="2">
                        Totalizer LD Gas Mills
                      </th>
                      <th class="text-center p-3" rowspan="2">
                        Totalizer LD Gas PBS
                      </th>

                      <!-- GROUPED HEADERS -->
                      <th colspan="3" class="text-center p-3">
                        LD Gas (Mills + PBS) Consumption
                      </th>
                      <th colspan="3" class="text-center p-3">
                        LD Gas Mills Consumption
                      </th>
                      <th colspan="3" class="text-center p-3">
                        LD Gas PBS Consumption
                      </th>
                    </tr>

                    <!-- HEADER ROW 2 (SUB COLUMNS) -->
                    <tr>
                      <th class="text-center p-2">A</th>
                      <th class="text-center p-2">B</th>
                      <th class="text-center p-2">C</th>

                      <th class="text-center p-2">A</th>
                      <th class="text-center p-2">B</th>
                      <th class="text-center p-2">C</th>

                      <th class="text-center p-2">A</th>
                      <th class="text-center p-2">B</th>
                      <th class="text-center p-2">C</th>
                    </tr>
                  </thead>

                  <!-- BODY -->
                  <tbody>
                    <tr
                      *ngFor="let row of reportData; let rindex = index"
                      class="border hover:bg-blue-200"
                    >
                      <td class="text-center p-3 td">{{ rindex + 1 }}</td>
                      <td class="text-center p-3 td">{{ row.date }}</td>
                      <td class="text-center p-3 td">{{ row.time }}</td>

                      <td class="text-center p-3 td">{{ row.GASHOLDERLVL }}</td>
                      <td class="text-center p-3 td">
                        {{ row.GASHOLDERPRES }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.GASHOLDERTEMP }}
                      </td>

                      <td class="text-center p-3 td">{{ row.EXPORTEDGAS }}</td>
                      <td class="text-center p-3 td">
                        {{ row.GAS_FLOW_mills }}
                      </td>

                      <td class="text-center p-3 td">
                        {{ row.PBS_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.Mills_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{
                          (row.PBS_totaliser - row.Mills_totaliser).toFixed(2)
                        }}
                      </td>

                      <!-- PBS -->
                      <td class="text-center p-3 td">
                        {{ row.a_pbs_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.b_pbs_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.c_pbs_totaliser }}
                      </td>

                      <!-- Mills -->
                      <td class="text-center p-3 td">
                        {{ row.a_mills_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.b_mills_totaliser }}
                      </td>
                      <td class="text-center p-3 td">
                        {{ row.c_mills_totaliser }}
                      </td>

                      <!-- Shift -->
                      <td class="text-center p-3 td">
                        {{
                          (row.a_pbs_totaliser - row.a_mills_totaliser).toFixed(
                            2
                          )
                        }}
                      </td>
                      <td class="text-center p-3 td">
                        {{
                          (row.b_pbs_totaliser - row.b_mills_totaliser).toFixed(
                            2
                          )
                        }}
                      </td>
                      <td class="text-center p-3 td">
                        {{
                          (row.c_pbs_totaliser - row.c_mills_totaliser).toFixed(
                            2
                          )
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
