<!-- <p>BF works!</p> -->
<div class="mainDiv">
  <div class="radio-buttons-container">
    <div class="mode-switch">
      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="bf5"
          [(ngModel)]="viewMode"
        />
        <span class="custom-radio"></span>
        BF#5
      </label>

      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="report"
          [(ngModel)]="viewMode"
        />
        <span class="custom-radio"></span>
        Report
      </label>

      <label class="switch-option">
        <input
          type="radio"
          name="viewMode"
          value="trends"
          [(ngModel)]="viewMode"
          (change)="onViewModeChange()"
        />
        <span class="custom-radio"></span>
        Trends
      </label>
    </div>
  </div>
  <div *ngIf="viewMode === 'bf5'">
    <div class="layout-container">
      <div class="detail-view">
        <h3 class="animated-underline">BF#5</h3>
        <!-- <div class="detail-content"> -->
        <!-- <p>
          Carbon monoxide (CO) is a colorless, odorless, and tasteless gas
          generated during the incomplete combustion of carbon-based fuels. In
          steel plants, CO serves two contrasting roles. On one hand, it is an
          important process gas used for energy generation and reduction
          reactions. On the other, it is a significant safety hazard that requires
          continuous monitoring and strict control measures. The gas has a
          calorific value of approximately 3,014 kcal per normal cubic meter (Nm³)
          or 2,411 kcal per kilogram (kg). Although its energy content is lower
          than that of natural gas or hydrogen, CO remains a valuable industrial
          fuel due to its availability within integrated steelmaking processes.
        </p> -->
        <!-- </div> -->
      </div>

      <div class="gasflow-container m-10 ml-60">
        <h2 class="title animated-underline">BF#5</h2>

        <div class="tree">
          <!-- Continuous main vertical line -->
          <div class="main-line"></div>

          <!-- Top Node -->
          <div class="node generation gen">
              <div class="top_header">BLAST VOLUME (Nm³/min)</div>
              <div class="sub-title red">Generation</div>
              <div class="labels unique">
                <span>MAKE(TNm³/hr)</span><span>PRESSURE</span>
              </div>
              <div class="values unique">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          <!-- TOP GENERATION WRAPPER -->


          <!-- LEVEL 1 -->
          <div class="branch leftTotal" style="margin-top: 2%">
            <div class="node consumption left flow-box">
              <div class="header">STOVE</div>
              <div class="sub-title green">Consumption</div>
              <div class="labels"><span>Total</span></div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
              </div>
              <div class="labels">
                <span>STOVE1</span><span>STOVE2</span><span>STOVE3</span>
              </div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          </div>

          <div class="branch rightTotal">
            <div class="node consumption right flow-box">
              <div class="header">PBS#2</div>
              <div class="sub-title green">Consumption</div>
              <div class="labels"><span>Total</span></div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
              </div>
              <div class="labels">
                <span>BOILER1</span><span>BOILER2</span><span>BOILER3</span>
              </div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          </div>

          <div class="branch leftTotal">
            <div class="node consumption left flow-box">
              <div class="header">COB#11</div>
              <div class="sub-title green">Consumption</div>
              <div class="labels"><span>Total</span></div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
              </div>
              <div class="labels">
                <span>N1 BLOCK</span><span>N2 BLOCK</span>
              </div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Example: Single right-side node -->
          <div class="branch single-right">
            <div class="node consumption right flow-box">
              <div class="header">Mills</div>
              <div class="sub-title green">Consumption</div>
              <div class="labels unique">
                <span>Flow</span><span>Pressure</span>
              </div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          </div>

          <!-- LEVEL 1 -->
          <div class="branch single">
            <div class="node consumption center flow-box">
              <div class="header">FLARE</div>
              <div class="sub-title green">Consumption</div>
              <div class="labels unique">
                <span>Flow</span><span>Pressure</span>
              </div>
              <div class="values">
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">Nm³/hr</div>
                </div>
                <div>
                  <div class="value">xxxx</div>
                  <div class="unit">mmwc</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode === 'report'">
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
      <!-- report-wrapper -->

      <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden h-full report-bg">
          <div
            class="flex-auto w-full overflow-y-auto border-l h-full report-content"
          >
            <div class="relative p-10 w-full border-l h-full">
              <div class="table-users w-full">
                <table class="w-full border bg-card mt-2" cellspacing="0">
                  <thead class="sticky top-10 z-10 tableTextDesign">
                    <tr>
                      <th class="text-center p-3" rowspan="2">Sl. No.</th>
                      <th class="text-center p-3" rowspan="2">Date</th>
                      <th class="text-center p-3" rowspan="2">Time</th>
                      <th class="text-center p-3" colspan="2">Generation</th>
                      <th class="text-center p-3" colspan="7">Consumption</th>
                    </tr>

                    <tr>
                      <th class="text-center p-3">BLAST VOLUME (Nm³/min) (MAKE(TNm³/hr))</th>
                      <th class="text-center p-3">BLAST VOLUME (Nm³/min) (PRESSURE)</th>
                      <th class="text-center p-3">STOVE (Total STOVE)</th>
                      <th class="text-center p-3">PRESSURE (Inlet)</th>
                      <th class="text-center p-3">PRESSURE (Outlet)</th>
                      <th class="text-center p-3">MRS FLOW (M1)</th>
                      <th class="text-center p-3">MRS FLOW (M2)</th>
                      <th class="text-center p-3">FLARE (Flow)</th>
                      <th class="text-center p-3">FLARE (Pressure)</th>
                    </tr>
                  </thead>

                  <tr
                    
                    class="border hover:bg-blue-200 tr"
                  >
                  <!-- *ngFor="let row of reportData; let rindex = index" -->
                    <td class="text-center p-3 td">
                      <!-- {{ rindex + 1 }} -->
                    </td>
                    <td class="text-center p-3 td">N/A</td>
                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>
                    <td class="text-center p-3 td">N/A</td>
                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>
                  
                    <td class="text-center p-3 td">N/A</td>

                    <td class="text-center p-3 td">N/A</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>

</div>
