<div class="flex flex-col   max-h-screen -m-6 overflow-hidden">

    <!-- View mode -->


    <!-- Header -->
    <div class="flex flex-row items-center justify-between w-full p-2 px-6 bg-primary  ">
        <span class="text-white font-semibold text-xl">Reset Password</span>

        <a mat-icon-button [matTooltip]="'Close'" (click)="matDialogRef.close()">
            <mat-icon class="text-white">close</mat-icon>
        </a>


    </div>

    <form class="grid grid-cols-1  gap-3 p-1 sm:p-6 overflow-y-auto  " (submit)="onSubmit()" [formGroup]="resetForm">
        <div class="form-group">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                placeholder="Enter Password" />
            <button type="button" (click)="togglePasswordVisibility('password')">
                <mat-icon class="mat-18">{{showPassword ? 'visibility_off': 'visibility'}}</mat-icon>
            </button>
        </div>

        <div *ngIf="resetForm.get('password')?.errors?.minlength && resetForm.get('password')?.touched"
            class="error-message">
            ❌ Password must be at least 6 characters long!
        </div>

        <!-- Confirm Password Input -->
        <div class="form-group">
            <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
                placeholder="Retype Password" />
            <button type="button" (click)="togglePasswordVisibility('confirmPassword')">
                <mat-icon class="mat-18">{{showConfirmPassword ? 'visibility_off': 'visibility'}}</mat-icon>
            </button>
        </div>

        <!-- Error Message for Non-Matching Passwords -->
        <div *ngIf="resetForm.errors?.notMatching && resetForm.get('confirmPassword')?.touched" class="error-message">
            ❌ Passwords do not match!
        </div>

        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Reset</button>




    </form>



</div>