<div
    class="area flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 mob-responsive">
            <!-- Logo -->
            <div class="w-26">
                <img src="assets\images\logo\raillogo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Reset Password</div>
            <!-- <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">Sign up
                </a>
            </div> -->

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <!-- <mat-label>Password</mat-label> -->
                    <input [(ngModel)]="userPassword.password" placeholder="New Password" id="password" matInput
                        type="password" [formControlName]="'password'" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full">
                    <!-- <mat-label>Password (Confirm)</mat-label> -->
                    <input [(ngModel)]="userPassword.cpassword" placeholder="Confirm New Password" id="password-confirm"
                        matInput type="password" [formControlName]="'passwordConfirm'" #passwordConfirmField>
                    <button mat-icon-button type="button"
                        (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->


                <!-- <button
                            class="fuse-mat-button-large md:items-center md:justify-center items-center w-full
                                                    bg-gradient-to-b from-slate-200  to-gray-400 border-4 border-gray-400 rounded-full p-2 "
                            [disabled]="resetPasswordForm.disabled" (click)="resetPassword()">
                            <span class="font-extrabold text-3xl" *ngIf="!resetPasswordForm.disabled">
                                Reset your password
                            </span>
                            <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                        </button> -->


                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">
                    Reset your password
                </button>

                <!-- Form footer -->

                <div class="my-3 flex flex-row items-end justify-end w-full ">
                    <a mat-button class="text-md hover:font-extrabold text-primary hover:underline"
                        [routerLink]="['/sign-in']">
                        Retun To Login
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>