<div
    class="area flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 sm:p-20 h-full ">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div
        class="md:flex md:items-center md:justify-end w-full       sm:w-[80%]    sm:rounded-2xl  sm:shadow  sm:bg-card z-10 h-full ">
        <div class=" w-full sm:w-full md:w-1/3 text-center flex flex-col items-center justify-center  mx-auto sm:mx-0 bg-card h-full p-6 sm:rounded-2xl md:rounded-r-none"
            style="background-image: url('assets/images/circuit-technology.webp'); background-position: center; background-size:
        cover;">
            <!-- Logo -->
            <div class="flex flex-col items-center justify-center mb-10">
                <div class="w-44">
                    <img src="assets\images\logo\Sail_Logo.png">
                </div>
            </div>

            <div class="sm:hidden text-2xl font-extrabold leading-none text-[#cd2027]  w-full text-center  mb-4">
                <!-- <p>SAIL RMG DASHBOARD</p> -->
                <p>SAIL DML DASHBOARD</p>
                <!-- <div>our community</div> -->
                <!-- <p>Howrah Division</p> -->
            </div>

            <!-- Title -->
            <div class="mt-2 text-2xl  sm:text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
            <!-- <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">Sign up
                </a>
            </div> -->

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Login ID</mat-label>
                    <input id="userid" matInput [formControlName]="'userid'" [(ngModel)]="user.userid">
                    <mat-error *ngIf="signInForm.get('userid').hasError('required')">
                        Login ID is required to login
                    </mat-error>
                    <!-- <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error> -->
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'"
                        [(ngModel)]="user.password" #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'">visibility</mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <!-- <div class="inline-flex items-end justify-between w-full mt-1.5">
                   
                    <a mat-button class="text-md font-medium text-primary-500 hover:underline hover:font-extrabold "
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div> -->



                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.invalid" (click)="signIn()">
                    Sign in
                </button>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Or continue with</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Single sign-on buttons -->
                <!-- <div class="flex items-center mt-8 space-x-4">
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
                    </button>
                    <button class="flex-auto" type="button" mat-stroked-button>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
                    </button>
                </div> -->
            </form>
        </div>
        <div class="relative hidden md:flex flex-auto items-center sm:rounded-r-2xl justify-center w-2/3 h-full overflow-hidden bg-gray-800 dark:border-l"
            style="background-image: url('{{coverUrl}}'); background-size: cover; background-position: center;">
            <!-- <div class="absolute bottom-4 right-4 px-3 " style="backdrop-filter: contrast(0.5);">
                <a class="text-md font-medium text-white hover:underline cursor-pointer test-white"
                    [routerLink]="['/Privacy-Policy']">Privacy Policy
                </a>
            </div> -->
            <div class="z-10 relative w-full ">
                <div class="text-7xl font-bold leading-none text-white  w-full text-center px-10 py-6"
                    style="backdrop-filter: brightness(0.5);">
                    <!-- <p>SAIL RMG DASHBOARD</p> -->
                    <p>SAIL DML DASHBOARD</p>

                    <!-- <div>our community</div> -->
                    <!-- <p>Howrah Division</p> -->
                    <p style="font-size: 12px;color: #ffffffa6;font-weight: 200;margin-top: 15px;">
                        <!-- sourav code comment -->
                        <!-- Designed & Developed By C&IT, C&A SAIL ISP. -->
                        <!-- sourav code comment -->


                        <!-- sourav code -->
                        Proudly Designed & Developed By SISX Team
                        <!-- sourav code -->

                        <!-- <span style="margin-left: 10%;font-size: 10px;font-weight: 600;float: right;">
                            <a href="https://softmeets.com/" target="_blank">POWERED BY SISX (Softmeets Info
                                Solutions).</a>
                        </span> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>