<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <!-- Header -->
  <div class="bg-card">
    <div class="">
      <div class="">
        <!-- Avatar and name -->
        <div class="">
          <!-- <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/brian-hughes.jpg">
                    </div> -->
          <div class="flex flex-col min-w-0">
            <ng-container *transloco="let t">
              <div
                class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate welcome-container"
                style="color: #000 !important; padding: 0 12px"
              >
                <span
                  class="welcome-text"
                  style="padding: 0 12px; vertical-align: sub"
                  >Welcome {{ user?.firstname }} !</span
                >

                <!-- <mat-form-field
                  appearance="outline"
                  class="mt-4"
                  *ngIf="filterbydateFlag"
                >
                  <mat-label class="font-semibold">Filter by date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [(ngModel)]="filterJson.date"
                    name="date"
                    (dateChange)="onDateChange($event)"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
                <div
                  class="flex flex-wrap md:flex-nowrap gap-4 items-start mt-4"
                >
                  <!-- Start Date Block -->
                  <div class="flex flex-col w-full md:w-60">
                    <mat-form-field appearance="outline">
                      <mat-label class="font-semibold text-blue-600"
                        >Choose Start date</mat-label
                      >
                      <input
                        matInput
                        [matDatepicker]="datepicker1"
                        name="start"
                        [(ngModel)]="filtercriteria.start"
                        readonly
                        (dateChange)="onStartDateChange()"
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="datepicker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #datepicker1></mat-datepicker>
                    </mat-form-field>

                    <!-- Start Date Tag (fix icon) -->
                    <div
                      class="flex items-center gap-2 px-3 py-1 bg-green-100 border border-green-400 text-green-800 rounded-full shadow text-sm w-fit"
                    >
                      <!-- Just this icon is fine -->
                      <mat-icon>event</mat-icon>
                      Start: {{ filtercriteria.start | date : "EEE, MMM d, y" }}
                    </div>
                  </div>

                  <!-- End Date Block -->
                  <div class="flex flex-col w-full md:w-60">
                    <mat-form-field appearance="outline">
                      <mat-label class="font-semibold text-blue-600"
                        >Choose End date</mat-label
                      >
                      <input
                        matInput
                        [matDatepicker]="datepicker2"
                        name="end"
                        [(ngModel)]="filtercriteria.end"
                        [min]="minEndDate"
                        [max]="maxEndDate"
                        [matDatepickerFilter]="sameMonthFilter"
                        (dateChange)="onEndDateChange()"
                        readonly
                      />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="datepicker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker
                        #datepicker2
                        [startAt]="minEndDate"
                      ></mat-datepicker>
                    </mat-form-field>

                    <!-- End Date Tag (fix icon) -->
                    <div
                      class="flex items-center gap-2 px-3 py-1 bg-red-100 border border-red-400 text-red-800 rounded-full shadow text-sm w-fit"
                    >
                      <mat-icon>event</mat-icon>
                      End: {{ filtercriteria.end | date : "EEE, MMM d, y" }}
                    </div>
                  </div>
                </div>

                <!-- <span
                  class="date-text"
                  style="float: right; font-size: 15px; padding: 12px"
                  >Date :
                  {{ previousDay | date : "EEEE, MMMM d,y" }}
                </span> -->

                <!-- <div class="flex gap-4 mt-2">
                  <div
                    class="flex items-center gap-2 px-3 py-1 bg-green-100 border border-green-400 text-green-800 rounded-full shadow text-sm"
                  >
                    <mat-icon>calendar_month</mat-icon>
                    Start: {{ filtercriteria.start | date : "EEE, MMM d, y" }}
                  </div>

                  <div
                    class="flex items-center gap-2 px-3 py-1 bg-red-100 border border-red-400 text-red-800 rounded-full shadow text-sm"
                  >
                    <mat-icon>calendar_month</mat-icon>
                    End: {{ filtercriteria.end | date : "EEE, MMM d, y" }}
                  </div>
                </div> -->
              </div>
            </ng-container>
          </div>
          <div class="w-full border-t border-blue-200 mt-4 mb-2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <form class="flex flex-col flex-auto p-6 pt-10 sm:p-6 sm:pt-6 overflow-y-auto">
        <mat-form-field class="flex-auto gt-xs:pr-3 half-width">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" name="date" [(ngModel)]="filterJson.date" />
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error>Choose a date to submit!</mat-error>
      </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" (click)="onFilter()" class="submit-button" aria-label="Filter">
            Filter
          </button>
        </div>
    </form> -->

  <!-- Main -->
  <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
    <mat-drawer-content class="flex-auto overflow-auto">
      <div class="flex-auto w-full p-6 overflow-y-auto">
        <div class="w-full">
          <!-- Tabs -->
          <mat-tab-group
            (selectedTabChange)="onTabChange($event)"
            class="sm:px-2"
            mat-stretch-tabs="false"
            [animationDuration]="'0'"
          >
            <!-- Home -->
            <mat-tab label="Home">
              <ng-template matTabContent>
                <h3 class="titl-hdr">Commodity</h3>

                <div
                  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6 w-full min-w-0"
                >
                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #008ffb, #4e58ed)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{ countWidget.total_lump_prod | number : "1.0-0" }} -->
                        {{ totalLumpProdAllGroups | number : "1.0-0" }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Lump Production
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #114c99, #04025f)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{ countWidget.total_wgc_lump | number : "1.0-0" }} -->
                        {{ totalLumpDispAllGroups | number : "1.0-0" }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Lump Dispatch
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #00e396, #40ab1b)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{ countWidget.total_fines_prod | number : "1.0-0" }} -->
                        {{ totalFinesProdAllGroups | number : "1.0-0" }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Fines Production
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #033005, #05880b)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{ countWidget.total_wgc_fines | number : "1.0-0" }} -->
                        {{ totalFinesDispAllGroups | number : "1.0-0" }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Fines Dispatch
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #4a235a, #76448a)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{ countWidget.total_production | number : "1.0-0" }} -->
                        {{
                          (totalLumpProdAllGroups || 0) +
                            (totalFinesProdAllGroups || 0) | number : "1.0-0"
                        }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Production
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <div
                    class="p-2 bg-card shadow rounded-2xl dashboard-box"
                    style="background: linear-gradient(45deg, #1c2833, #34495e)"
                  >
                    <div class="flex flex-col items-center mt-4">
                      <div
                        class="text-2xl sm:text-2xl font-bold tracking-tight leading-none text-blue-500"
                      >
                        <!-- {{
                          countWidget.total_wgc_production | number : "1.0-0"
                        }} -->

                        {{
                          (totalLumpDispAllGroups || 0) +
                            (totalFinesDispAllGroups || 0) | number : "1.0-0"
                        }}
                      </div>
                      <div
                        class="text-1xl font-medium text-blue-800 dark:text-blue-500"
                        style="font-weight: 700 !important"
                      >
                        Ton
                      </div>
                      <div
                        class="flex items-baseline justify-center w-full mt-3 text-secondary"
                      >
                        <div class="text-1xl font-medium truncate">
                          Total Dispatch
                        </div>
                        <!-- <div class="ml-1.5 text-lg font-semibold">45.7</div> -->
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-span-1 grid grid-flow-row grid-cols-1 gap-1 w-full">
                    <h3 class="titl-hdr">Groupwise Production</h3>
                  </div> -->

                  <!-- Groupwise Production -->
                  <div class="col-span-6 grid grid-flow-row grid-cols-2 gap-6">
                    <div class="flex flex-col gap-6">
                      @for (group of groupwiseprodchartOptions; track $index) {
                      <div
                        class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3"
                      >
                        <div
                          class="font-medium text-secondary"
                          style="
                            font-size: 15px;
                            color: #002172 !important;
                            font-weight: 700 !important;
                          "
                        >
                          <span>Production: </span>
                          {{ group.head }}
                          <span>(On Date)</span>
                        </div>

                        <div
                          class="flex justify-evenly text-md text-gray-800 font-semibold px-2 py-1 mt-3"
                        >
                          <div>
                            🔵 Total Lump:
                            <span style="color: #007bff">{{
                              group.totalLump | number
                            }}</span>
                          </div>
                          <div>
                            🟢 Total Fines:
                            <span style="color: #04b85e">{{
                              group.totalFines | number
                            }}</span>
                          </div>
                        </div>

                        <div class="flex flex-col flex-auto">
                          <apx-chart
                            [series]="group.chartOptions.series"
                            [chart]="group.chartOptions.chart"
                            [dataLabels]="group.chartOptions.dataLabels"
                            [plotOptions]="group.chartOptions.plotOptions"
                            [responsive]="group.chartOptions.responsive"
                            [xaxis]="group.chartOptions.xaxis"
                            [legend]="group.chartOptions.legend"
                            [fill]="group.chartOptions.fill"
                          ></apx-chart>
                        </div>
                        <span class="in-ton">[ In Ton ]</span>
                      </div>
                      }
                    </div>

                    <div class="flex flex-col gap-6">
                      @for (group of groupwisedischartOptions; track $index) {
                      <div
                        class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3"
                      >
                        <div
                          class="font-medium text-secondary"
                          style="
                            font-size: 15px;
                            color: #002172 !important;
                            font-weight: 700 !important;
                          "
                        >
                          <span>Dispatch:</span>
                          {{ group.head }}
                          <span>(On Date)</span>
                        </div>

                        <div
                          class="flex justify-evenly text-md text-gray-800 font-semibold px-2 py-1 mt-3"
                        >
                          <div>
                            🔵 Total Lump:
                            <span style="color: #007bff">{{
                              group.totalLumpDispatch | number
                            }}</span>
                          </div>
                          <div>
                            🟢 Total Fines:
                            <span style="color: #04b85e">{{
                              group.totalFinesDispatch | number
                            }}</span>
                          </div>
                        </div>

                        <div class="flex flex-col flex-auto">
                          <apx-chart
                            [series]="group.chartOptions.series"
                            [chart]="group.chartOptions.chart"
                            [dataLabels]="group.chartOptions.dataLabels"
                            [plotOptions]="group.chartOptions.plotOptions"
                            [responsive]="group.chartOptions.responsive"
                            [xaxis]="group.chartOptions.xaxis"
                            [legend]="group.chartOptions.legend"
                            [fill]="group.chartOptions.fill"
                          ></apx-chart>
                        </div>
                        <span class="in-ton">[ In Ton ]</span>
                      </div>
                      }
                    </div>
                  </div>

                  <div class="col-span-6 grid grid-flow-row grid-cols-1 gap-6">
                    <div
                      class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3"
                    >
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 700 !important;
                        "
                      >
                        Plant Performance (On Date)
                      </div>

                      <div
                        class="flex justify-evenly text-md text-gray-800 font-semibold px-2 py-1 mt-3"
                      >
                        <div>
                          🔴 Total Hot Metal:
                          <span style="color: #ce2121">{{
                            totalHotMetal | number
                          }}</span>
                        </div>
                        <div>
                          🟡 Total Sinter:
                          <span style="color: #dbbd11">{{
                            totalSinter | number
                          }}</span>
                        </div>
                      </div>

                      <div class="flex flex-col flex-auto">
                        <apx-chart
                          [series]="performancebarchartOptions1?.series"
                          [chart]="performancebarchartOptions1?.chart"
                          [dataLabels]="performancebarchartOptions1?.dataLabels"
                          [plotOptions]="
                            performancebarchartOptions1?.plotOptions
                          "
                          [yaxis]="performancebarchartOptions1?.yaxis"
                          [legend]="performancebarchartOptions1?.legend"
                          [fill]="performancebarchartOptions1?.fill"
                          [stroke]="performancebarchartOptions1?.stroke"
                          [tooltip]="performancebarchartOptions1?.tooltip"
                          [xaxis]="performancebarchartOptions1?.xaxis"
                        ></apx-chart>
                      </div>
                      <span class="in-ton">[ In Ton ]</span>
                    </div>
                    <!-- <div class="flex flex-col sm:flex-row items-start justify-between chart-selector">
                           
                                                                <div class="mt-3 sm:mt-0 sm:ml-2">
                                                                    <mat-button-toggle-group value="this-week"
                                                                        #githubIssuesWeekSelector="matButtonToggleGroup">
                                                                        <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                                                                        <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                                                                    </mat-button-toggle-group>
                                                                </div>
                                                            </div> -->
                  </div>

                  <div class="col-span-6 grid grid-flow-row grid-cols-1 gap-6">
                    <div
                      class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3"
                    >
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 700 !important;
                        "
                      >
                        Plant Meterial Closing Stock (On Date)
                      </div>
                      <div class="flex flex-col flex-auto">
                        <apx-chart
                          [series]="performancebarchartOptions2?.series"
                          [chart]="performancebarchartOptions2?.chart"
                          [dataLabels]="performancebarchartOptions2?.dataLabels"
                          [plotOptions]="
                            performancebarchartOptions2?.plotOptions
                          "
                          [yaxis]="performancebarchartOptions2?.yaxis"
                          [legend]="performancebarchartOptions2?.legend"
                          [fill]="performancebarchartOptions2?.fill"
                          [stroke]="performancebarchartOptions2?.stroke"
                          [tooltip]="performancebarchartOptions2?.tooltip"
                          [xaxis]="performancebarchartOptions2?.xaxis"
                        ></apx-chart>
                      </div>
                      <span class="in-ton">[ In Ton ]</span>
                    </div>
                  </div>

                  <div class="col-span-6 grid grid-flow-row grid-cols-1 gap-6">
                    <!-- sourav code comment -->
                    <!-- <div
                      class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3"
                    >
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Quality
                       
                      </div>
                      <div class="flex flex-col flex-auto">
                        <apx-chart
                          [series]="linechartOptions1?.series"
                          [chart]="linechartOptions1?.chart"
                          [xaxis]="linechartOptions1.xaxis"
                          [stroke]="linechartOptions1?.stroke"
                          [colors]="linechartOptions1?.colors"
                          [dataLabels]="linechartOptions1?.dataLabels"
                          [legend]="linechartOptions1?.legend"
                          [markers]="linechartOptions1?.markers"
                          [grid]="linechartOptions1?.grid"
                          [yaxis]="linechartOptions1?.yaxis"
                          [title]="linechartOptions1?.title"
                        ></apx-chart>
                      </div>
                    </div> -->
                    <!-- sourav code comment -->

                    <!-- sourav code -->
                    <!-- Quality Mine Wise Chart -->
                    <!-- <div class="bg-card p-4 mb-4">
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Quality Mine Wise
                      </div>
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="linechartOptionsMineWise?.series"
                          [chart]="linechartOptionsMineWise?.chart"
                          [xaxis]="linechartOptionsMineWise?.xaxis"
                          [stroke]="linechartOptionsMineWise?.stroke"
                          [colors]="linechartOptionsMineWise?.colors"
                          [dataLabels]="linechartOptionsMineWise?.dataLabels"
                          [legend]="linechartOptionsMineWise?.legend"
                          [markers]="linechartOptionsMineWise?.markers"
                          [grid]="linechartOptionsMineWise?.grid"
                          [yaxis]="linechartOptionsMineWise?.yaxis"
                          [title]="linechartOptionsMineWise?.title"
                        >
                        </apx-chart>
                      </div>
                    </div> -->

                    <div class="bg-card p-4 mb-4 shadow rounded-2xl">
                      <div
                        class="font-medium text-secondary mb-4"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Average Monthly Quality Mines Wise-LUMP (Till Date)
                      </div>

                      <!-- Custom Legend Start (horizontal) -->
                      <div
                        style="
                          display: flex;
                          flex-direction: row;
                          gap: 20px;
                          font-size: 13px;
                          font-weight: 600;
                          color: #333;
                          margin-bottom: 12px;
                          flex-wrap: wrap;
                        "
                      >
                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Norm LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Norm LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #429ff0;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Actual LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #03569e;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Actual LUMP</span>
                        </div>
                      </div>

                      <!-- Custom Legend End -->
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="linechartOptionsMineWiseLUMP?.series"
                          [chart]="linechartOptionsMineWiseLUMP?.chart"
                          [xaxis]="linechartOptionsMineWiseLUMP?.xaxis"
                          [stroke]="linechartOptionsMineWiseLUMP?.stroke"
                          [colors]="linechartOptionsMineWiseLUMP?.colors"
                          [dataLabels]="
                            linechartOptionsMineWiseLUMP?.dataLabels
                          "
                          [legend]="linechartOptionsMineWiseLUMP?.legend"
                          [grid]="linechartOptionsMineWiseLUMP?.grid"
                          [yaxis]="linechartOptionsMineWiseLUMP?.yaxis"
                          [title]="linechartOptionsMineWiseLUMP?.title"
                        ></apx-chart>
                      </div>
                    </div>

                    <div class="bg-card p-4 mb-4 shadow rounded-2xl">
                      <div
                        class="font-medium text-secondary mb-4"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Average Monthly Quality Mines Wise-FINES (Till Date)
                      </div>

                      <!-- Custom Legend Start (horizontal) -->
                      <div
                        style="
                          display: flex;
                          flex-direction: row;
                          gap: 20px;
                          font-size: 13px;
                          font-weight: 600;
                          color: #333;
                          margin-bottom: 12px;
                          flex-wrap: wrap;
                        "
                      >
                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Norm FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Norm FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #17dd9b;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Actual FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #046846;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Actual FINES</span>
                        </div>
                      </div>

                      <!-- Custom Legend End -->
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="linechartOptionsMineWiseFINES?.series"
                          [chart]="linechartOptionsMineWiseFINES?.chart"
                          [xaxis]="linechartOptionsMineWiseFINES?.xaxis"
                          [stroke]="linechartOptionsMineWiseFINES?.stroke"
                          [colors]="linechartOptionsMineWiseFINES?.colors"
                          [dataLabels]="
                            linechartOptionsMineWiseFINES?.dataLabels
                          "
                          [legend]="linechartOptionsMineWiseFINES?.legend"
                          [grid]="linechartOptionsMineWiseFINES?.grid"
                          [yaxis]="linechartOptionsMineWiseFINES?.yaxis"
                          [title]="linechartOptionsMineWiseFINES?.title"
                        ></apx-chart>
                      </div>
                    </div>

                    <!-- 
                    <div class="bg-card p-4 mb-4">
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Quality Destination Wise
                      </div>
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="linechartOptionsDestinationWise?.series"
                          [chart]="linechartOptionsDestinationWise?.chart"
                          [xaxis]="linechartOptionsDestinationWise?.xaxis"
                          [stroke]="linechartOptionsDestinationWise?.stroke"
                          [colors]="linechartOptionsDestinationWise?.colors"
                          [dataLabels]="
                            linechartOptionsDestinationWise?.dataLabels
                          "
                          [legend]="linechartOptionsDestinationWise?.legend"
                          [markers]="linechartOptionsDestinationWise?.markers"
                          [grid]="linechartOptionsDestinationWise?.grid"
                          [yaxis]="linechartOptionsDestinationWise?.yaxis"
                          [title]="linechartOptionsDestinationWise?.title"
                        >
                        </apx-chart>
                      </div>
                    </div> -->

                    <!-- Quality Destination Wise Chart -->
                    <!-- LUMP Destination Wise -->
                    <div class="bg-card p-4 mb-4 shadow rounded-2xl">
                      <div
                        class="font-medium text-secondary mb-4"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Average Monthly Quality Destination Wise-LUMP (Till
                        Date)
                      </div>

                      <!-- Custom Legend Start (horizontal) -->
                      <div
                        style="
                          display: flex;
                          flex-direction: row;
                          gap: 20px;
                          font-size: 13px;
                          font-weight: 600;
                          color: #333;
                          margin-bottom: 12px;
                          flex-wrap: wrap;
                        "
                      >
                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Norm LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Norm LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #429ff0;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Actual LUMP</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #03569e;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Actual LUMP</span>
                        </div>
                      </div>

                      <!-- Custom Legend End -->
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="linechartOptionsDestinationWiseLUMP?.series"
                          [chart]="linechartOptionsDestinationWiseLUMP?.chart"
                          [xaxis]="linechartOptionsDestinationWiseLUMP?.xaxis"
                          [stroke]="linechartOptionsDestinationWiseLUMP?.stroke"
                          [colors]="linechartOptionsDestinationWiseLUMP?.colors"
                          [dataLabels]="
                            linechartOptionsDestinationWiseLUMP?.dataLabels
                          "
                          [legend]="linechartOptionsDestinationWiseLUMP?.legend"
                          [grid]="linechartOptionsDestinationWiseLUMP?.grid"
                          [yaxis]="linechartOptionsDestinationWiseLUMP?.yaxis"
                          [title]="linechartOptionsDestinationWiseLUMP?.title"
                        ></apx-chart>
                      </div>
                    </div>

                    <!-- FINES Destination Wise -->
                    <div class="bg-card p-4 mb-4 shadow rounded-2xl">
                      <div
                        class="font-medium text-secondary mb-4"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Average Monthly Quality Destination Wise-FINES (Till
                        Date)
                      </div>

                      <!-- Custom Legend Start (horizonatal) -->
                      <div
                        style="
                          display: flex;
                          flex-direction: row;
                          gap: 20px;
                          font-size: 13px;
                          font-weight: 600;
                          color: #333;
                          margin-bottom: 12px;
                          flex-wrap: wrap;
                        "
                      >
                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Norm FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #d32f2f;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Norm FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #17dd9b;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Fe Actual FINES</span>
                        </div>

                        <div style="display: flex; align-items: center">
                          <span
                            style="
                              width: 12px;
                              height: 12px;
                              background: #046846;
                              display: inline-block;
                              margin-right: 8px;
                            "
                          ></span>
                          <span>Gangue Actual FINES</span>
                        </div>
                      </div>

                      <!-- Custom Legend End -->
                      <div class="flex flex-col flex-auto mt-4">
                        <apx-chart
                          [series]="
                            linechartOptionsDestinationWiseFINES?.series
                          "
                          [chart]="linechartOptionsDestinationWiseFINES?.chart"
                          [xaxis]="linechartOptionsDestinationWiseFINES?.xaxis"
                          [stroke]="
                            linechartOptionsDestinationWiseFINES?.stroke
                          "
                          [colors]="
                            linechartOptionsDestinationWiseFINES?.colors
                          "
                          [dataLabels]="
                            linechartOptionsDestinationWiseFINES?.dataLabels
                          "
                          [legend]="
                            linechartOptionsDestinationWiseFINES?.legend
                          "
                          [grid]="linechartOptionsDestinationWiseFINES?.grid"
                          [yaxis]="linechartOptionsDestinationWiseFINES?.yaxis"
                          [title]="linechartOptionsDestinationWiseFINES?.title"
                        ></apx-chart>
                      </div>
                    </div>
                    <!-- sourav code -->

                    <div
                      class="flex flex-col flex-auto bg-card shadow rounded-2xl p-3 mb-10"
                    >
                      <div
                        class="font-medium text-secondary"
                        style="
                          font-size: 15px;
                          color: #002172 !important;
                          font-weight: 800 !important;
                        "
                      >
                        Rakes Monthly Average Till date
                      </div>
                      <div class="flex flex-col flex-auto">
                        <!-- sourav code comment -->
                        <!-- <apx-chart
                          [series]="linechartOptions2.series"
                          [chart]="linechartOptions2.chart"
                          [xaxis]="linechartOptions2.xaxis"
                          [stroke]="linechartOptions2.stroke"
                          [colors]="linechartOptions2.colors"
                          [dataLabels]="linechartOptions2.dataLabels"
                          [legend]="linechartOptions2.legend"
                          [markers]="linechartOptions2.markers"
                          [grid]="linechartOptions2.grid"
                          [yaxis]="linechartOptions2.yaxis"
                          [title]="linechartOptions2.title"
                        ></apx-chart> -->
                        <!-- sourav code comment -->

                        <div class="flex justify-center gap-5 mb-2">
                          <div class="flex items-center gap-1">
                            <span
                              class="w-3 h-3 rounded-full"
                              style="background-color: #773a02"
                            ></span>
                            <span class="font-semibold text-sm">
                              Total COD Rake Plan:
                              <span style="color: #773a02">
                                {{ totalRakePlan | number : "1.2-2" }}
                              </span>
                            </span>
                          </div>
                          <div class="flex items-center gap-1">
                            <span
                              class="w-3 h-3 rounded-full"
                              style="background-color: #ff7f50"
                            ></span>
                            <span class="font-semibold text-sm">
                              Despatch rake (Actual till date):
                              <span style="color: #ff7f50">
                                {{ totalDispatchActual | number : "1.2-2" }}
                              </span>
                            </span>
                          </div>
                          <div class="flex items-center gap-1">
                            <span
                              class="w-3 h-3 rounded-full"
                              style="background-color: #967117"
                            ></span>
                            <span class="font-semibold text-sm">
                              Total Dispatch Average(On Date/Date Range):
                              <span style="color: #967117">
                                {{ totalDispatchAvg | number : "1.2-2" }}
                              </span>
                            </span>
                          </div>
                        </div>

                        <!-- sourav code -->
                        <apx-chart
                          [series]="linechartOptions2.series"
                          [chart]="linechartOptions2.chart"
                          [xaxis]="linechartOptions2.xaxis"
                          [stroke]="linechartOptions2.stroke"
                          [colors]="linechartOptions2.colors"
                          [dataLabels]="linechartOptions2.dataLabels"
                          [legend]="linechartOptions2.legend"
                          [grid]="linechartOptions2.grid"
                          [yaxis]="linechartOptions2.yaxis"
                          [title]="linechartOptions2.title"
                        ></apx-chart>
                        <!-- sourav code -->
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-tab>

            <!-- Statutory -->
          </mat-tab-group>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
