<!-- ============================ -->
<!-- GAUGE SECTION (METER CARDS) -->
<!-- ============================ -->
<div class="dashboard-main-container">
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="40px"
    class="cogas-meter-container"
  >
    <!-- Gauge 1 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(make); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [plotOptions]="chartOptions.plotOptions"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
      >
      </apx-chart>
      <!-- Actual live value -->
      <div class="meter-value">{{ cob10_res.benzol_scrubber_gasmake }}</div>
    </div>
    <!-- Gauge 2 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(pressure); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [plotOptions]="chartOptions.plotOptions"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
      >
      </apx-chart>
      <div class="meter-value">
        {{ cob10_res.cogas_supply_pressure | number : "1.2-2" }}
      </div>
    </div>
    <!-- Gauge 3 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(make); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <!-- <apx-chart [series]="makeGauge2.series" [chart]="makeGauge2.chart" [labels]="makeGauge2.labels" [plotOptions]="makeGauge2.plotOptions" [fill]="makeGauge2.fill" [stroke]="makeGauge2.stroke" > </apx-chart> -->
      <fusioncharts
        *ngIf="fusionMakeCOB11"
        width="250"
        height="175"
        type="angulargauge"
        [dataSource]="fusionMakeCOB11"
      ></fusioncharts>

      <!-- Actual live value -->
      <div class="meter-value">
        {{ overview_res.FT0600F003_C | number : "1.2-2" }}
      </div>
    </div>
    <!-- Gauge 4 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(pressure); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <!-- <apx-chart [series]="pressureGauge2.series" [chart]="pressureGauge2.chart" [labels]="pressureGauge2.labels" [plotOptions]="pressureGauge2.plotOptions" [fill]="pressureGauge2.fill" [stroke]="pressureGauge2.stroke" > </apx-chart> -->
      <fusioncharts
        *ngIf="fusionPressureCOB11"
        width="250"
        height="175"
        type="angulargauge"
        [dataSource]="fusionPressureCOB11"
      ></fusioncharts>

      <div class="meter-value">
        {{ overview_res.COGASMAKEPRESSURE | number : "1.2-2" }}
      </div>
    </div>
    <!-- Gauge 5 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(bv); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <!-- <apx-chart [series]="makeGauge3.series" [chart]="makeGauge3.chart" [labels]="makeGauge3.labels" [plotOptions]="makeGauge3.plotOptions" [fill]="makeGauge3.fill" [stroke]="makeGauge3.stroke" > </apx-chart> -->
      <fusioncharts
        *ngIf="volumeClockChart?.dataSource"
        width="250"
        height="175"
        type="angulargauge"
        [dataSource]="volumeClockChart.dataSource"
      ></fusioncharts>

      <!-- Actual live value -->
      <div class="meter-value">{{ overview_res.BLAST_VOLUME }}</div>
    </div>
    <!-- Gauge 6 -->
    <div class="meter-card">
      <!-- <div class="box"> -->
      <h2 class="area_header">
        <span
          *ngFor="let letter of splitLetters(bp); let i = index"
          [style.animation-delay]="i * 0.2 + 's'"
        >
          {{ letter }}
        </span>
      </h2>
      <!-- </div> -->
      <apx-chart
        [series]="pressureGauge3.series"
        [chart]="pressureGauge3.chart"
        [labels]="pressureGauge3.labels"
        [plotOptions]="pressureGauge3.plotOptions"
        [fill]="pressureGauge3.fill"
        [stroke]="pressureGauge3.stroke"
      >
      </apx-chart>
      <div class="meter-value">
        {{ overview_res.BLAST_PRESSURE | number : "1.2-2" }}
      </div>
    </div>
  </div>
  <!-- ============================ -->
  <!-- GRAPH SECTION (BELOW METERS) -->
  <!-- ============================ -->
  <div class="graph-row">
    <!-- If data exists -->
    <!-- 2×2 GRID WRAPPER -->
    <div class="charts-grid">
      <!-- <div
      *ngIf="loading"
      class="absolute inset-0 z-50 flex items-center justify-center mt-50"
      >
      <mat-spinner color="primary" [diameter]="100"></mat-spinner>
      </div> -->
      <!-- COB#11 HEADER -->

      <div class="chart-group-header cob-header">COB#11</div>

      <!-- Chart 3 -->
      <div class="chart-box chart-make">
        <!-- Loader Overlay -->
        <div class="chart-loader" *ngIf="loading">
          <mat-spinner color="primary" [diameter]="90"></mat-spinner>
        </div>
        <span
          class="chart-header_make"
          *ngIf="responseData.length > 0 && hasMake"
          >C.O. GAS MAKE [Th. Nm³/hr]</span
        >
        <div id="cob11gasmakeChart1" style="width: 100%; height: 300px"></div>
      </div>

      <!-- Chart 4 -->
      <div class="chart-box chart-pressure">
        <!-- Loader Overlay -->
        <div class="chart-loader" *ngIf="loading">
          <mat-spinner color="primary" [diameter]="90"></mat-spinner>
        </div>
        <span
          class="chart-header_pressure"
          *ngIf="responseData.length > 0 && hasPressure"
          >C.O. GAS PRESSURE [mmwc]</span
        >
        <div id="cob11pressureChart1" style="width: 100%; height: 300px"></div>
      </div>

      <!-- COB#10 HEADER -->
      <div class="chart-group-header cob-header">COB#10</div>

      <!-- Chart 1 -->
      <div class="chart-box chart-make">
        <!-- Loader Overlay -->
        <div class="chart-loader" *ngIf="loading">
          <mat-spinner color="primary" [diameter]="90"></mat-spinner>
        </div>
        <span
          class="chart-header_make"
          *ngIf="responseData.length > 0 && hasMake"
          >C.O. GAS MAKE [Th. Nm³/hr]</span
        >
        <div id="cob10gasmakeChart1" style="width: 100%; height: 300px"></div>
      </div>

      <!-- Chart 2 -->
      <div class="chart-box chart-pressure">
        <!-- Loader Overlay -->
        <div class="chart-loader" *ngIf="loading">
          <mat-spinner color="primary" [diameter]="90"></mat-spinner>
        </div>
        <span
          class="chart-header_pressure"
          *ngIf="responseData.length > 0 && hasPressure"
          >C.O. GAS PRESSURE [mmwc]</span
        >
        <div id="cob10pressureChart1" style="width: 100%; height: 300px"></div>
      </div>

      <!-- If no data -->
      <div
        class="no-data"
        *ngIf="responseData.length === 0 && !hasMake && !hasPressure"
      >
        <p class="no-data">No data available<span class="dots"></span></p>
      </div>
    </div>
  </div>
</div>
