.cogas-meter-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px;
  background: #f7f9fc;
  border-radius: 8px;
  width: 100%;
}

.meter-card {
  background: white;
  border-radius: 8px;
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--box-border);
  // padding: 4px;
  width: 280px;
  text-align: center;
}

.meter-title {
  font-size: 16px;
  font-weight: 600;
  // color: #444;
  margin-bottom: 10px;
}

.meter-value {
  font-size: 24px;
  font-weight: bold;
  color: #1a73e8;
  margin-top: 8px;
}

