@import "styles/background.scss";

.md\:justify-start {
  justify-content: center !important;
  background-size: 65% 100%;
}

@media (min-width: 960px) {
  .md\:justify-end {
    justify-content: center !important;
  }

  .md\:w-1\/2 {
    width: 30% !important;
    width: 29% !important;
    height: 80% !important;
    margin: 55px 0 25px 0 !important;
    border-radius: 8px !important;
  }
  .md\:p-16 {
    padding: 70px 0 70px 0 !important;
  }
}

@media (max-width: 1360px) {
  .mob-responsive {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
  }

  .sm\:bg-card {
    background-color: transparent !important;
    border: none !important;
    --tw-shadow: 0 !important;
    box-shadow: none !important;
  }
}

.sign-in-panel {
  background-color: #ffffff7d;
  padding: 20px 30px;
  border-radius: 10px;
  /* border: 1px solid #4e46e552; */
}

.sign-in-btn {
  height: 36px !important;
  min-height: 30px !important;
  max-height: 40px !important;
  background-color: #4e46e5c9 !important;
  border-radius: 6px !important;
}

.set-bg-image {
  /* background-image: url(assets/images/documents-mangmnt.jpg) !important; */
  box-shadow: inset 0 0 0 2000px #8ec3ff54;
  background-position: center;
  background-size: cover;
  /* padding-left: 2px !important; */
}
