<div
    class="area flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 mob-responsive">
            <!-- Logo -->
            <div class="w-26">
                <img src="assets\images\logo\raillogo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Forgot Password</div>
            <!-- <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">Sign up
                </a>
            </div> -->

            <!-- Alert -->


            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full" *ngIf="!userDetails">
                    <!-- <mat-label>Email ID</mat-label> -->
                    <input id="email" placeholder="Email ID" matInput [formControlName]="'email'"
                        [(ngModel)]="user.userid">
                    <!-- <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                                                                                    Username / Mobile Number Is Required
                                                                                </mat-error> -->
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <fuse-alert class="mt-2  mb-4" *ngIf="showAlert && !userDetails" [appearance]="'outline'"
                    [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <div class="flex flex-col space-y-2 font-semibold text-xl  mb-10     " *ngIf="userDetails">
                    <div class=" flex flex-col justify-start items-start w-full">
                        <img class="w-20" [src]="userDetails.imageUrl" *ngIf="userDetails.imageUrl">
                        <div class=" flex flex-col ">
                            <span>Name: {{userDetails.firstname}} {{userDetails.lastname}} </span>
                            <span>Email: {{userDetails.email}}</span>
                            <span>Mobile: {{userDetails.mobile}}</span>
                        </div>
                    </div>


                </div>

                <!-- Submit button -->

                <!-- <button
                                class="fuse-mat-button-large md:items-center md:justify-center items-center w-full
                                                        bg-gradient-to-b from-slate-200  to-gray-400 border-4 border-gray-400 rounded-full p-2 "
                                [disabled]="forgotPasswordForm.disabled" (click)="resetPassword()">
                                <span class="font-extrabold text-3xl" *ngIf="!forgotPasswordForm.disabled">
                                    {{buttonText}}
                                </span>
                                <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button> -->


                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="forgotPasswordForm.invalid" (click)="resetPassword()">
                    {{buttonText}}
                </button>
                <div class="my-3 flex flex-row items-center   justify-end w-full space-x-5">
                    <a mat-button class="text-xl font-extrabold text-red-500 hover:underline cursor-pointer"
                        (click)="cancel()" *ngIf="userDetails">
                        Cancel
                    </a>
                    <a mat-button class="text-md hover:font-extrabold text-primary hover:underline"
                        [routerLink]="['/sign-in']">Return
                        To
                        Login
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>