.fuse-alert-container {
    position: absolute;
    bottom: 20px;
    /* Adjust top position as needed */
    /* right: 20px; */
    /* Adjust right position as needed */
    z-index: 999;
    /* Ensure it's above other content */
}